<div class="navb">
	<ul>
	  <li class='active'><a href='/'>ZOHO Blogs</a></li>
	 <li class="dropdown" style='float: right;'>
    	<a href="javascript:void(0)" class="dropbtn">&#9660;</a>
    	<div class="dropdown-content">
      		<a>Settings</a>
      		<a>Logout</a>
    	</div>
  	  </li>
  	  <li class='pullright'><a>Manit</a></li>
	</ul>
</div>

{{outlet}}